* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body {
    background: #f6eeee00;
    color: #eeeeee;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transform: all .4s ease;

}


.nav-list {
    display: flex;    
}

.nav-list a {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    margin: 0 25px;
    transition: all .45s ease;
}

.nav-list a:hover {
    color: #cf0a0a;

}
.nav-list a.active {
    color: #7e2424;
	border-bottom: 2px solid #7e2424;
	padding-bottom: 3px;

}
#menu-icon{
    font-size: 35px;
    color: #7e2424;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section{
    padding: 160px 15% 120px;
}
.home {
	position: relative;
	height: 100vh;
	width: 100%;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.home img{
	position: absolute;
    width: 431px;
    height: 425px;
    left: 1000px;
    top: 140px;
	border-radius: 295px;
}
.logo {
	color: #000000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px;
}
.slide {
    margin-bottom: 10px;
}
.one{
    display: inline-block;
    margin-right: 10px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 700;
    color: #4e4949;
    
}
.home-text h1{
    font-size: 4rem;
    font-weight: 700;
    color: #040303;
    list-style: 1.1;
    margin: 0 0 8px;

}
.home-text h3{
    color: #060606;
    margin: 0 0 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}


h3 span{
    color: #6a1b1b;
}

header.sticky{
	background: #0f0f0f;
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	background-color: #191919;
	gap: 1rem;
	
}
.about-img img{
	max-width: 500px;
	height: auto;
	width: 100%;
	border-radius: 25px;
	
}
.about-text{
	margin-bottom: 70px;
}
.about-text h2{
	font-size: 32px;
	line-height: 1;
	margin-top: 1rem;
}
.about-text h4{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	line-height: 1.1;
	margin: 15px 0 30px;
}
.about-text p{
	color: #fff;
	font-size: 16px;
	line-height: 1.1;
	margin-bottom: 1rem;
}

.about-text h3{
	color: #7e2424;
	
}
.about-text .skills {
	margin-top: 10px;
}

.services{
	background: #121212;
}
.main-text{
	text-align: center;
}

.main-text h2{
	font-size: 35px;
	line-height: 1;
}
.about-text button{
	display: inline-block;
	padding: 8px 18px;
	background: #7e2424;
	color:#fff;
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	transition: all .45s ease;
	border: none;
	cursor: pointer;
}
.services-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}
.box{
	background: #1D1C1C;
	padding: 35px 45px;
	border-radius: 8px;
	transition: all .45s ease;
}
.s-icons i{
	font-size: 32px;
	margin-bottom: 20px;
	color: #7e2424;
}
.box h3{
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 15px;
}
.box p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 25px;
}

.read{
	display: inline-block;
	padding: 8px 18px;
	background: #7e2424;
	color: var(--second-color);
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	transition: all .45s ease;
}
.read:hover{
	letter-spacing: 1px;
	background: #7e2424;
	color: var(--text-color);
}
.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
}

.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}
.row{
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
}
.row img{
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
}
.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.1), darkred);
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 40px;
	transition: height 0.5s;
}
.layer h5{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	
}
.layer p{
	color: white;
	font-size: 1rem;
	line-height: 1.8;
	border: 2px solid white;
	padding: 3px 3px;
	border-radius: 5px;
}
.layer i{
	color: var(--main-color);
	margin-top: 20px;
	font-size: 20px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.row:hover img{
	transform: scale(1.1);
}
.row:hover .layer{
	height: 100%;
}

.contact{
	background: #121212;
	justify-content: center;
	align-items: center;
	gap: 2rem;

}
.contact-text h4{
	color: #fff;
	
	font-size: 20px;
	font-weight: 600;
	
}
.contact-text h2{
	font-size: 30px;
	line-height: 1;
}
.contact-text p{
	color: #fff;
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 30px;
}


.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
	width: 100%;
	padding: 10px;
	background: none;
	color: #fff;
	border-color: rgb(61, 59, 59);
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
	box-shadow: none;
}

.contact-form textarea{
	resize: none;
	height: 150px;
}
.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: #cf0a0a;
	color: #fff;
	width: 160px;
	transition: all .45s ease;
	border: none;
}
.contact-form .submit:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.input-el input:focus {
	outline: 0;
}
.error{
	color: #cf0a0a;
	margin-bottom: 1rem;
}

.end{
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	background: rgb(15, 15, 15);
	align-items: center;
	justify-content: center;
}
.last-text p{
	color: var(--second-color);
	font-size: 14px;
	
}
.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: #cf0a0a;
}
.end .icons i{
	align-items: center;
	justify-content: space-between;
	
	border-radius: 50px;
	border: 2px solid #cf0a0a;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}
.end .icons i:hover{
	background-color: #cf0a0a;

}

@media (max-width: 1480px){
	header{
		padding: 12px 2.5%;
		transition: .1s;
	}
	header.sticky{
		padding: 10px 2.5%;
		transition: .1s;;
	}
	section{
		padding: 110px 3% 60px;
	}
	.end{
		padding: 15px 3%;
	}
	
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.home-text h3{
		font-size: 2.5rem;
	}
	.home{
		height: 87vh;
	}
	.home img{
		display: none;
	}
}

@media (max-width: 920px){

	
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	.contact{
		grid-template-columns: 1fr;
	}
	.home img{
		display: none;
	}
	.home-text h1{
		font-size: 34px;
		margin-left: 1.2rem;
	}
	.home-text span{
		margin-left: 1rem;
	}
	.home-text h3{
		font-size: 24px;
		
		text-align: center;
	}
	.home{
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
}

@media (max-width: 840px){
	#menu-icon{
		display: block;
		margin-right: 0.5rem;
	}
	.logo{
		margin-left: 0.5rem;
	}
	.nav-list{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #121212;
		text-align: left;
		transition: all .45s ease;
	}
	.nav-list a{
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: #fff;
	}
	.nav-list a:hover{
		color: #cf0a0a;
	}
	.nav-list a.active{
		color: #cf0a0a;
	}
	.nav-list.open{
		top: 100%;
	}
	.home img{
		display: none;
	}
	.home-text h1{
		font-size: 34px;
		margin-left: 1.2rem;
	}
	.home-text h3{
		font-size: 24px;
		margin-left: 1.5rem;
	}
	.home{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home-text span{
		margin-left: 1rem;
	}
	
}
@media (max-width: 1100px){
	.home-text h3{
		font-size: 20px;

	}
}
